/* Basically contains the css part of the App.jsx */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}
html,
body{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
}

.Nav{
  background-color: darkblue;
  color: aliceblue;
  font-weight: 400;
  padding: 20px;
  margin: 30px;
  border-radius: 30px;
}

.Card{
  background-color: crimson;
  color: #fff;
  padding: 20px;
  margin: 30px;
  border-radius: 30px;
  border: 5px solid white;

}